<br/><br/><br/><br/>
<form class="custom">
  <fieldset>
    <legend>User Story</legend>

    <div class="row">
      <div class="ten columns">

        <label>Summary</label>
        <input type="text">

        <div class="row">          
          <div class="nine columns">
            <label>Details</label>
            <textarea placeholder="Details"></textarea>
          </div>
          <div class="three columns">
            <label>Points</label>
            <input type="text"/>
          </div>    
        </div> 
        <div class="row">          
          <div class="nine columns">
            <label>Assigned to</label>
            <input type="text">      
          </div>
        </div> 
      </div>
    </div>

    <fieldset>
      <legend>Tehnical Stories</legend>
      
      <a class="button" href="#">Add Technical Story</a>      
      <br/><br/><br/><br/>

      <table class="twelve">
      <thead>
        <tr>
          <th>Code</th>          
          <th>Summary</th>      
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>COD</td>
          <td>Exception Handling</td>          
        </tr>
      </tbody>
</table>

    </fieldset>

    <fieldset>
      <legend>Prototypes</legend>
      <a class="button" href="#">Add Prototype</a>          
    </fieldset>

  </fieldset>  

</form>