<br/><br/><br/><br/>
<form class="custom">
  <fieldset>
    <legend>User Story</legend>

    <div class="row">
      <div class="ten columns">

        <label>Summary</label>
        <input type="text">

        <div class="row">          
          <div class="nine columns">
            <label>Details</label>
            <textarea placeholder="Details"></textarea>
          </div>
          <div class="three columns">
            <label>Points</label>
            <input type="text"/>
          </div>    
        </div> 
        <div class="row">          
          <div class="nine columns">
            <label>Assigned to</label>
            <input type="text">      
          </div>
        </div> 
      </div>
    </div>

    <fieldset>
      <legend>Tehnical Stories</legend>
      
      <a class="button" href="#">Add Technical Story</a>      
      <br/><br/><br/><br/>

      <table class="twelve">
        <thead>
          <tr>
            <th>Code</th>          
            <th>Summary</th>      
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>COD</td>
            <td>Exception Handling</td>          
          </tr>
        </tbody>
      </table>
    </fieldset>

    <fieldset>
      <legend>Prototypes</legend>
      <a class="button" href="#">Add Prototype</a>          
    </fieldset>

  </fieldset>  

</form>

<br/><br/><br/><br/>

<form class="custom">
  <fieldset>
    <legend>Add User</legend>

    <div class="row">
      <div class="ten columns">
        <label>User</label>
        <input type="text" placeholder="Enter an email address "/>
        <a class="button" href="#">Add User</a>   

        <br/><br/><br/><br/>

        <table class="twelve">
          <thead>
            <tr>
              <th>Users</th>                      
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ade</td>            
            </tr>
          </tbody>
        </table>

      </div>     

    </div>
  </fieldset>  
</form>

<br/><br/><br/><br/>

<form class="custom">
  <fieldset>
    <legend>Let's create a new project .... </legend>

    <div class="row">     
        <label>Name of your project</label>        
        <input type="text"/>
        
        <label>Description</label>    
        <textarea placeholder="You could provide a short description ..."></textarea>   

        <a class="button" href="#">Create / Update project</a>   
       
    </div>
  </fieldset>  
</form>