<ul class="right">
  <li class="has-dropdown">
    <a href="#">Username</a>

    <ul class="dropdown">
      <li><a href="#">Logout</a></li>          
      <li><a href="/auth/github">Sign In</a></li>
    </ul>
  </li>
</ul>