<ul class="left">
  <li class="has-dropdown">
    <a href="#">This Project</a>
    <ul class="dropdown">
      <li><a href="#">Project Settings</a></li>
      <li><a href="#">User Management</a></li>
    </ul>
  </li>
</ul>