<div class="row">
  <div class="three columns">
    <h3 class="subheader">TODO</h3>
    <ul id="sortable1" class="droptrue">
      {{#each userStory in todoUserStories}}
        <li class="ui-state-default">{{userStory.summary}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="three columns">
    <h3 class="subheader">DOING</h3>
    <ul id="sortable2" class="droptrue">
      {{#each userStory in doingUserStories}}
        <li class="ui-state-default">{{userStory.summary}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="three columns">
    <h3 class="subheader">REVIEWING</h3>
    <ul id="sortable3" class="droptrue">
      {{#each userStory in reviewingUserStories}}
        <li class="ui-state-default">{{userStory.summary}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="three columns">
    <h3 class="subheader">DONE</h3>
    <ul id="sortable4" class="droptrue">
      {{#each userStory in doneUserStories}}
        <li class="ui-state-default">{{userStory.summary}}</li>
      {{/each}}
    </ul>
  </div>
</div>
