 <nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><a href="#">Edge Agility</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
      <li><a href="#">Backlog</a></li>
      <li><a href="#">Scrum Board</a></li>
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">This Project</a>

          <ul class="dropdown">
            <li><a href="#">Project Settings</a></li>
            <li><a href="#">User Management</a></li>            
          </ul>
        </li>
      </ul>
    </ul>


    {{outlet loginMenu}}


    <ul class="right">
      <li class="has-dropdown">
        <a href="#">All Projects</a>

        <ul class="dropdown">
          <li><a href="#">Project 1</a></li>                            
          <li><a href="#">Project 2</a></li>  
          <li class="divider"></li>                 
          <li><a href="#">New Project</a></li>                   
        </ul>
      </li>
    </ul>

  </section>
</nav><br/><br/><br/><br/>




 <div class="row">
    {{outlet}}

    <!-- Contact Details -->
    <div class="nine columns">

      <h3>Project name</h3>
      <p>project description</p>
      
    </div>

    <!-- End Contact Details -->

  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright Edge Agility.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Backlog</a></li>
            <li><a href="#">Scrum Board</a></li>
            <li><a href="#">This Project</a></li>
            <li><a href="#">All Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>