 <nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><a href="#">Title</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>

    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Link</a>

        <ul class="dropdown">
          <li><a href="#">Dropdown Link</a></li>
          <li><a href="#">Dropdown Link</a></li>
          <li><a href="/auth/github">Sign In</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav><br/><br/><br/><br/>




 <div class="row">
    {{outlet}}

    <!-- Contact Details -->
    <div class="nine columns">

      <h3>This is the best app</h3>
      <p>Write new user stories!</p>

      

    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="three columns">

      <h5>Map</h5>

      <!-- Clicking this placeholder fires the mapModal Reveal modal -->
      <p>
        <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280" /></a><br />
        <a href="" data-reveal-id="mapModal">View Map</a>
      </p>

      <p>
        123 Awesome St.<br />
        Barsoom, MA 95155
      </p>

    </div>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>